@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap");
body {
  text-rendering: optimizeLegibility;
  color: #444;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a, a:hover {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

.color-new1 {
  color: #0e4d83;
}

.color-new2 {
  color: #fff;
}

nav.navbar.navbar-expand-xl.navbar-light {
  background-color: transparent;
}
nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

nav.navbar.navbar-expand-xl.navbar-light.navslide {
  background-color: #0e4d83;
  border-bottom: #0000001c 2px solid;
}

.navslide {
  animation-name: nav-slide;
  -webkit-animation-name: nav-slide;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  z-index: 99999;
}

@keyframes nav-slide {
  0% {
    opacity: 0;
    transform: translateY(-70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes nav-slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/* Icon 1 */
.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon2 span {
  background: #000;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

@media screen and (min-width: 1200px) {
  nav.navbar.navbar-expand-xl.navbar-light {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  nav.navbar.navbar-expand-xl.navbar-light a.navbar-brand {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item {
    margin: auto 10px;
    line-height: unset;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item a.nav-link {
    padding: 0;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item a.nav-link:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item a.nav-link.active:after, nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item a.nav-link:hover:after {
    width: 100%;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item.link-btn1,
nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item.link-btn2 {
    margin-right: 7px;
    margin-left: 7px;
    border-radius: 30px;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item.link-btn2 {
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item {
    margin: auto 20px;
  }
}
@media screen and (max-width: 1199px) {
  nav.navbar.navbar-expand-xl.navbar-light {
    background-color: #0e4d83;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nav.navbar.navbar-expand-xl.navbar-light .navbar-toggler {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  nav.navbar.navbar-expand-xl.navbar-light .navbar-toggler span {
    background: #fff;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 15px;
    margin-bottom: 10px;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item {
    line-height: unset;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item a.nav-link {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 14px;
  }
  nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item.link-btn1,
nav.navbar.navbar-expand-xl.navbar-light ul.navbar-nav li.nav-item.link-btn2 {
    display: none;
  }
}
nav .logo-custom-text {
  color: #fff;
  font-weight: 800;
}

.banner-hero {
  position: relative;
  color: #fff;
  background: linear-gradient(to bottom, #0e4d83, #366893);
  padding-top: 100px;
  padding-bottom: 100px;
}
.banner-hero .container {
  position: relative;
  z-index: 1;
}
.banner-hero .hero-box {
  text-align: center;
}
.banner-hero .hero-box h1 {
  font-size: 60px;
  margin-bottom: 25px;
}
.banner-hero .hero-box a.custom-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  color: #0e4d83;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}
.banner-hero .float-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.button-wiggle {
  animation: wiggle 4s 2s infinite;
}

@keyframes wiggle {
  5%, 50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
.sections {
  position: relative;
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.sections .container {
  position: relative;
  z-index: 1;
}
.sections .section-title {
  margin-bottom: 30px;
}
.sections .section-title .title-box h2 {
  color: #0e4d83;
  margin-bottom: 0;
  text-transform: uppercase;
  font-style: italic;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 50px;
}
.sections .section-title .title-box h2:after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1rem;
  height: 5px;
  background-color: rgba(44, 45, 0, 0.102);
}

.about-me .float-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.about-me .box-left p {
  text-align: justify;
}
.about-me .box-left .skill-boxes .skillbox {
  margin-top: 15px;
}
.about-me .box-left .skill-boxes .skillbox h6 {
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
}
.about-me .box-left .skill-boxes .skillbox .percentage {
  float: right;
  position: relative;
  top: -25px;
  font-weight: 600;
  color: #0e4d83;
}
.about-me .box-left .skill-boxes .skillbox .cover {
  width: 100%;
  height: 21px;
  background-color: #e9eae5;
  border: 2px solid #0e4d83;
  border-radius: 2px;
}
.about-me .box-left .skill-boxes .skillbox .cover .progressbar {
  height: 13px;
  background-color: #0e4d83;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 2px;
}
.about-me .box-left .skill-boxes .skillbox .skill1 .progressbar {
  width: 85%;
  animation: animateskill1 1.5s linear;
}
.about-me .box-left .skill-boxes .skillbox .skill2 .progressbar {
  width: 80%;
  animation: animateskill2 1.5s linear;
}
.about-me .box-left .skill-boxes .skillbox .skill3 .progressbar {
  width: 50%;
  animation: animateskill3 1.5s linear;
}
.about-me .box-left .skill-boxes .skillbox .skill4 .progressbar {
  width: 30%;
  animation: animateskill4 1.5s linear;
}
.about-me .box-left .skill-boxes .skillbox .skill5 .progressbar {
  width: 15%;
  animation: animateskill5 1.5s linear;
}
.about-me .box-left .skill-boxes .skillbox .skill6 .progressbar {
  width: 10%;
  animation: animateskill6 1.5s linear;
}

@keyframes animateskill1 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes animateskill2 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes animateskill3 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes animateskill4 {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
@keyframes animateskill5 {
  0% {
    width: 0;
  }
  100% {
    width: 15%;
  }
}
@keyframes animateskill6 {
  0% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}
.my-portfolio {
  background-color: #eee;
}
.my-portfolio .section-title {
  margin-bottom: 10px !important;
}
.my-portfolio .float-img {
  position: absolute;
  right: 0;
  top: 0;
}
.my-portfolio .portfolio-boxes .portfolio-box {
  text-align: center;
  background-color: #fff;
  color: #000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 5px;
  margin-top: 30px;
}
.my-portfolio .portfolio-boxes .portfolio-box a {
  text-decoration: none;
  color: #000;
}
.my-portfolio .portfolio-boxes .portfolio-box .box-link {
  position: relative;
}
.my-portfolio .portfolio-boxes .portfolio-box img {
  border-radius: 8px;
}
.my-portfolio .portfolio-boxes .portfolio-box .name {
  margin-top: 10px;
}
.my-portfolio .portfolio-boxes .portfolio-box .name h6 {
  font-size: 20px;
}
.my-portfolio .portfolio-boxes .portfolio-box .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 8px;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.my-portfolio .portfolio-boxes .portfolio-box .overlay-box span {
  background-color: #0e4d83;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
}
.my-portfolio .portfolio-boxes .portfolio-box:hover {
  color: #0e4d83;
}
.my-portfolio .portfolio-boxes .portfolio-box:hover a {
  color: #0e4d83;
}
.my-portfolio .portfolio-boxes .portfolio-box:hover .overlay-box {
  opacity: 1;
}

.contact-sec {
  position: relative;
  background-image: url("../img/contact-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6.5rem;
  padding-bottom: 7.5rem;
}
.contact-sec .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}
.contact-sec .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.contact-sec .contact-box {
  text-align: center;
}
.contact-sec .contact-box h2 {
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
}

.contact-info-sec {
  padding-top: 2rem;
}
.contact-info-sec .contact-info-box {
  border: 1px solid #eee;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}
.contact-info-sec .contact-info-box .icon-box {
  background-color: #0e4d83;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  padding: 10px;
  margin-bottom: 10px;
}
.contact-info-sec .contact-info-box .info-text p {
  font-weight: 600;
  font-size: 20px;
}
.contact-info-sec .contact-info-box .info-text p a {
  text-decoration: none;
  color: #000;
}
.contact-info-sec .contact-info-box .info-text p a:hover {
  color: #0e4d83;
}
.contact-info-sec .cv-box-btn {
  text-align: center;
  margin-top: 30px;
}
.contact-info-sec .cv-box-btn a {
  display: inline-block;
  background: transparent;
  color: #0e4d83;
  border: 2px solid #0e4d83;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  padding: 0.8rem 2rem;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}
.contact-info-sec .cv-box-btn a:hover {
  background-color: #0e4d83;
  color: #fff;
}

.button-hand:before {
  position: absolute;
  content: "👇";
  font-size: 30px;
  transform: scaleX(-1);
  right: 0px;
  top: -40px;
  animation: up-down 1s infinite;
}
.button-hand .hands:after {
  position: absolute;
  content: "👇";
  font-size: 40px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.button-hand .hands:after {
  transform: rotate(170deg);
  right: 30px;
  top: 50px;
}
.button-hand:hover .hands:before {
  opacity: 1;
  left: -35px;
}
.button-hand:hover .hands:after {
  opacity: 1;
  top: 40px;
}

@keyframes up-down {
  50% {
    top: -10px;
  }
}
.tech-used {
  background-color: #eee;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.tech-used .row {
  justify-content: center;
}
.tech-used .ic-box {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  padding: 25px;
}

footer {
  background-color: #0e4d83;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer p a {
  color: #fff;
  font-weight: 600;
}
footer p a:hover {
  color: #fff;
}

button:focus {
  outline: 0;
}

@media screen and (min-width: 768px) {
  .about-me .img-box-sm {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  body {
    font-size: 15px;
  }

  nav.navbar.navbar-expand-xl.navbar-light {
    border-bottom: #0000001c 2px solid;
  }

  .banner-hero {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 62px;
  }
  .banner-hero .hero-box h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .banner-hero .hero-box a.custom-btn {
    font-size: 16px;
    margin-top: 15px;
  }

  .sections {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .sections .section-title {
    margin-bottom: 20px;
  }
  .sections .section-title .title-box h2 {
    font-size: 30px;
  }

  .about-me .box-left .skill-boxes .skillbox h6 {
    font-size: 15px;
  }

  .my-portfolio .portfolio-boxes .portfolio-box .name h6 {
    font-size: 16px;
  }
  .my-portfolio .portfolio-boxes .portfolio-box .overlay-box span {
    font-size: 14px;
  }

  .contact-sec {
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
  }
  .contact-sec .contact-box h2 {
    font-size: 30px;
  }

  .contact-info-sec {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .contact-info-sec .contact-info-box .icon-box {
    width: 50px;
    height: 50px;
  }
  .contact-info-sec .contact-info-box .info-text p {
    font-size: 16px;
  }
  .contact-info-sec .cv-box-btn a {
    font-size: 16px;
    letter-spacing: 1;
  }

  .tech-used {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
  .tech-used .ic-box {
    padding: 15px;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .about-me .img-box-lg {
    display: none;
  }
  .about-me .img-box-sm {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .about-me .box-left .skill-boxes .skillbox h6 {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .banner-hero {
    height: 100vh;
    /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
  .banner-hero .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  :root {
    --vh: 1vh;
  }
}